In [1]:
%load_ext watermark
%watermark

2020-01-23T11:42:50+01:00

CPython 3.7.4
IPython 7.8.0

compiler   : MSC v.1915 64 bit (AMD64)
system     : Windows
release    : 10
machine    : AMD64
processor  : AMD64 Family 23 Model 24 Stepping 1, AuthenticAMD
CPU cores  : 8
interpreter: 64bit

In [2]:
import numpy as np
import pandas as pd

from sklearn.ensemble import RandomForestClassifier

import warnings

warnings.filterwarnings('ignore')

In [3]:
ids = pd.read_pickle('../NR - Data/01.-ids.pkl')
df_train = pd.read_pickle('../NR - Data/01.-df_train.pkl')
df_eval = pd.read_pickle('../NR - Data/01.-df_eval.pkl')

In [4]:
df_train.head()

,Survived,Pclass,Sex,Age,Parch,Fare,Embarked,Name_length,Has_Cabin,FamilySize,IsAlone,Title
0,0,3,1,1,0,0,0,23,0,2,0,1
1,1,1,0,2,0,3,1,51,1,2,0,3
2,1,3,0,1,0,1,0,22,0,1,1,2
3,1,1,0,2,0,3,0,44,1,2,0,3
4,0,3,1,2,0,1,0,24,0,1,1,1

In [5]:
df_train.shape

(891, 12)

In [6]:
df_eval.head()

,Pclass,Sex,Age,Parch,Fare,Embarked,Name_length,Has_Cabin,FamilySize,IsAlone,Title
0,3,1,2,0,0,2,16,0,1,1,1
1,3,0,2,0,0,0,32,0,2,0,3
2,2,1,3,0,1,2,25,0,1,1,1
3,3,1,1,0,1,0,16,0,1,1,1
4,3,0,1,1,1,0,44,0,3,0,3

In [7]:
df_eval.shape

(418, 11)

In [8]:
X = np.array(df_train.drop(['Survived'],axis = 1))
y = np.array(df_train['Survived'])

## Benchmark

In [9]:
model_RF = RandomForestClassifier()
model_RF.fit(X,y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [12]:
round(model_RF.score(X,y),5)

0.95174

In [11]:
y_pred = model_RF.predict(df_eval)
df_submission = pd.DataFrame({'PassengerId':ids,'Survived':y_pred})
df_submission.to_csv('../NR - Data/submission.csv',index = False)

#That's 0.74162 score in Kaggle